.custom-button {
    border-radius: 1.6rem;
    padding: 10px 14px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 1px solid var(--accent);
    white-space: nowrap;
    font-size: 20px;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-default);
    box-sizing: border-box;

    &.cb-xs {
        font-size: 2.4rem;
        border-radius: 2.4rem;
        height: 6.2rem;
    }

    &:active {
        scale: 0.95;
    }
    
    &:not(.custom-button-hollow) {
        background: var(--accent);
        color: #fff !important;
        font-weight: 600;
    }

    &.custom-button-hollow {
        color: #363636 !important;
        font-weight: 500;

        &:hover {
            background: var(--accent);
            color: #fff !important;
        }
    }
}

.toggle-thick {
    max-width: 50.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    background: #F2F2F2;
    border-radius: 2.4rem;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
    text-align: left !important;

    input { display: none; }

    input[type="radio"] {
        &:nth-child(1):checked ~ .toggle-thumb { left: 0; }
        &:nth-child(2):checked ~ .toggle-thumb { left: 50%; }
    }

    &.pq-toggle {
        input[type="radio"] {
            &:nth-child(1):checked ~ .toggle-thumb { width: 60% !important; }
            &:nth-child(2):checked ~ .toggle-thumb { width: 40% !important; left: 60% !important; }
        }
    }

    .toggle-thumb {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background: #fff;
        border-radius: inherit;
        box-sizing: border-box;
        border: 4px solid #F2F2F2;
        z-index: 0;
        transition: var(--transition-default);
        pointer-events: none;
    }

    .toggle-section {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 50%;
        padding: 1.6rem;
        border-radius: inherit;
        z-index: 1;
        cursor: pointer;
        user-select: none;

        div {
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
                img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }

            &:nth-child(2) {
                gap: 0.6rem;
                
                h1 {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 2.5rem;
                    color: var(--text-def-lightdark);
                    font-family: "Inter", sans-serif;
                }

                p {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: var(--text-def-lightdark);
                }
            }
        }
    }
}

.company-logo { // Logo wrap
    gap: 0.9rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    position: relative;
    
    p {
        color: #FB812C;
        font-size: 2.4rem;
        line-height: 2.28rem;
        font-family: 'MV-crooker';
        margin: auto;
        width: 100%;

        @media screen and (max-width: 619px) {
            margin-bottom: 3px;
        }
        
        @media screen and (min-width: 620px) {
            margin-bottom: 6px;
        }
        
        @media screen and (min-width: 565px) and (max-width: 619px) {
            margin-bottom: 1.8px;
        }

        @media screen and (max-width: 320px) {
            margin-bottom: 4px;
        }
    }
}

.tab-content {
    position: relative;
}

.telinput-container {
    display: flex;
    flex-direction: row;
    gap: 6px;

    .telinput-field {
        display: flex;
        flex-direction: row;
        gap: 10px;
        background: var(--light-bg);
        border-radius: 1.6rem;
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 500;
        align-items: center;
        box-sizing: border-box;
        padding: 1.6rem 2.2rem;
        max-height: 6.2rem;
        overflow: hidden;
        width: 100%;

        span {
            user-select: none;
            color: var(--text-def-lightdark);
        }
        
        input[type="tel"] {
            border: none;
            outline: none;
            background: none;
            box-sizing: border-box;
            font-weight: 500;
            color: var(--text-def-lightdark);
            width: 100%;

            &::placeholder {
                color: #BABABA;
                user-select: none;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: #BABABA;
    border-radius: 1.6rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 100%;
        border-radius: 1.6rem;
        overflow: hidden;
        opacity: 0;
        top: 100%;
        max-height: 300px;
        overflow: auto;
        
        .dropdown-option {
            color: var(--text-def-lightdark);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            user-select: none;
            cursor: pointer;
            font-size: 2.4rem;
            box-sizing: border-box;
            padding: 1.6rem 2.2rem;
            white-space: nowrap;
            font-weight: 500;
        }
        
        .dropdown-option:hover {
            background-color: var(--light-bg);
        }
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
        color: var(--text-def-lightdark);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        background-color: var(--light-bg);
        border-radius: 1.6rem;
        padding: 1.6rem 2.2rem;
        font-size: 2.4rem;
        font-weight: 500;
        display: inline-flex;
        gap: 1.4rem;
        align-items: center;
        z-index: 0;
        justify-content: space-between;

        .dropdown-arrow {
            pointer-events: none;
        }
        
        span {
            pointer-events: none;
            display: flex;
        }
    }

    &.show {
        button .dropdown-arrow {
            transform: rotate(180deg);
        }

        .dropdown-content {
            display: block;
        }
    }
}

.code-digit-box {
    width: 6.2rem;
    height: 6.2rem;
    background: var(--light-bg);
    border-radius: 1.6rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .cdb-placeholder {
        width: 8px;
        height: 8px;
        background: #BABABA;
        border-radius: 8px;
        position: absolute;
        pointer-events: none;
    }

    input[type="text"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: none;
        border: none;
        outline: none;
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--text-def-lightdark);
        text-align: center;
    }

    input[type="text"]:focus + .cdb-placeholder, input[type="text"]:not(.empty) + .cdb-placeholder {
        display: none;
    }
}

.custom-icon-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    input {
        background: none;
        border: none;
        outline: none;
        color: var(--text-def-lightdark);
        font-weight: 500;
        width: 100%;
    }
}

.custom-input {
    background: var(--light-bg);
    border-radius: 1.6rem;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 500;
    align-items: center;
    box-sizing: border-box;
    padding: 1.6rem 2.2rem;
    max-height: 6.2rem;
    overflow: hidden;
    width: 100%;
    color: var(--text-def-lightdark);
    outline: none;
    border: none;
    font-weight: 500;
    
    &::placeholder, input::placeholder {
        color: #939393;
        user-select: none;
    }
}

.input-date {
    overflow: unset;
    position: relative;
    display: flex;
    
    .inpd-date-box {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        background: inherit;
        border-radius: inherit;
        padding: inherit;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        z-index: 3;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

        .dbx-day-wrap {
            border-top: 2px solid rgba($color: #000000, $alpha: 0.2);
            table.dbx-weekdays {
                padding: 1rem 0;
                width: 100%;
                table-layout: fixed;
                tr {
                    display: flex;
                    gap: 2px;
                    justify-content: center;
                    margin-top: 2px;

                    &:nth-of-type(1) {
                        pointer-events: none;
                    }
                }
                th,td {
                    user-select: none;
                    text-align: center;
                    width: 4.8rem;
                    flex-shrink: 0;
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    text-align: center;
                }
                th {
                    font-weight: 600;
                    color: #000;
                    padding-bottom: 1rem;
                }
                td {
                    height: 4.8rem;
                    font-weight: 500;
                    background: rgba($color: #000000, $alpha: 0.05);
                    color: var(--text-def-lightdark);
                    border-radius: 1.6rem;
                    cursor: pointer;

                    &.passed {
                        opacity: 0.5;
                        pointer-events: none;
                    }

                    &.selected {
                        background: var(--accent);
                        color: #fff;
                        pointer-events: none;
                    }
                }
            }
        }

        .dbx-month-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 6rem;

            .inpd-dbx-control-arrow {
                cursor: pointer;
                width: 100%;
                position: relative;
                display: flex;

                div {
                    position: relative;
                    width: 16px;
                    height: 16px;
                    border-left: 2px solid #000;
                    border-top: 2px solid #000;
                    flex-shrink: 0;
                    pointer-events: none;
                }

                &.dbx-arrow-left {
                    justify-content: left;
                    div { rotate: -45deg; }
                }

                &.dbx-arrow-right {
                    justify-content: right;
                    div { rotate: 135deg; }
                }
            }

            .dbx-months-list {
                display: flex;
                flex-direction: row;
                flex-shrink: 0;
                align-items: center;
            }
        }
    }

    .inpd-display {
        background: none;
        color: var(--text-def-lightdark);
        font-weight: 500;
        border: none;
        outline: none;

        &:not(:nth-of-type(3)) {
            width: 30px;
        }

        &:nth-of-type(3) {
            width: 60px;
        }

        &:not(:nth-of-type(1)) {
            padding-left: 11px;
            padding-right: 3px;
        }
    }

    .inpd-display-separator {
        user-select: none;
    }
}

.checkbox {
    input[type="checkbox"] {
        display: none;
    }

    label {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        font-size: 2rem;
        gap: 1.6rem;
        user-select: none;

        p {
            color: var(--text-def-lightdark);
        }
    }

    input[type="checkbox"]:checked + .checkbox-wrap .checkbox-cover {
        top: 0;

        .checkbox-checkmark { transform: scale(1); }
    }

    .checkbox-wrap {
        width: 24px;
        height: 24px;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        cursor: pointer;
        border-radius: 8px;

        .checkbox-box {
            position: absolute;
            cursor: pointer;
            background: var(--body-bg);
            border: 2px solid #DDDDDD;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
            border-radius: inherit;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        .checkbox-cover {
            transition: var(--transition-default);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: #FB812C;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            
            .checkbox-checkmark {
                transition: inherit;
                transform: scale(0);
            }
        }
    }
}

.h32 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--text-def-dark);
}

[hidden] {
    display: none !important;
}

@media screen and (max-width: 340px) {
    .custom-button {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 260px) {
    .custom-button {
        padding: 1rem 1.4rem !important;
    }
}